@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.menuitem {
		@apply border-b-[1px] font-semibold p-4 hover:bg-gray-200 transition duration-200 ease-in-out rounded-tr-3xl cursor-pointer;
	}
}

html {
	overflow: scroll;
	overflow-x: hidden;
}
::-webkit-scrollbar {
	width: 0; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: #ff0000;
}
